{% extends "blog/base.html" %}

{% block content %}

    <article class="box">
        <h1>About</h1>
        <h2>Who are you?</h2>
        <p>
            Just an average Canadian guy with too much time on his hands. I have a tendency to overthink things, and
            enjoy writing as a way empty my brain occasionally. It doesn't help that I spent seven years at university
            hammering physics into my thick skull, which is enough to turn any functioning young adult into a socially
            impaired mess. You can think of me like one of the nerds in
            <a href="https://youtu.be/P-hUV9yhqgY?autoplay=true" target="_blank">this video</a>.
        </p>

        <h2>What's this blog about?</h2>
        <p>
            Mostly whatever I feel like writing about. Really though, it's about understanding the universe, and our
            place in it. Imagine human knowledge as a large tapestry, made up of many individual panels.
            How the tapestry fits together is already determined, but we're still in the process of fitting the panels
            together. Furthermore, some of the panels are missing details, or might have entire portions misplaced. If a
            researcher's goal is to fill in the fine details of some particular panel, then my goal is to see how the
            different panels connect at the edges, and how this shapes our self-understanding.
        </p>

        <h2>What does "Holding the World" mean?</h2>
        <p>
            This is a reference to Atlas from Greek mythology, who is condemned to hold the sky above the Earth.
            On one level, it's a metaphor for strength, and the recognition that everyone bears a burden that they
            carry. On another level, Atlas is the figure that stands between the Heavens and Earth. If most creatures
            are of the Earth, then man is the only creature which stands between the two. This is a very common kind of
            symbolism in mythology (both Chinese and Christian, for example), and Heaven can be considered an
            analogue of conscious thought, or human potential. So in a different sense, this is a blog about reducing
            our burden, and living up to our potential.
        </p>

        <h2>Why should I listen to you?</h2>
        <p>
            Honestly, you probably shouldn't. I'm astounded you've read this far.
        </p>

    </article>

{% endblock %}
