body{
    background-color: #1e232e;
}

nav{
    background-color: #e6e6cf;
}
footer{
    color: #6b995c
}

article > .date{
    text-align: right;
    margin-top: -1.5em;
    margin-right: 2.5em;
    color: #525966;
}

aside > *{
    margin: 1em!important;
}

/* Main box, with shadow */
.box{
    color:#000;
    background-color: #e6e6cf;
    box-shadow: 8px 10px 28px rgba(0,0,0,0.6), 8px 8px 10px rgba(0,0,0,0.4);
}

/* Formatting on the tags */
.tags li{
    background-color: #d9d9b8;
    color:#000;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    margin-bottom:16px;
}

/* Buttons */
.button{
    padding:12px 24px;
}
.button:hover{background-color: #ccccad !important}

aside .button{
    font-weight: normal;
}

nav > * > * >.button{
    border: none!important;
}